* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation container */

.navigation {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
  margin: 0 3rem;
}

/* Links to different pages */

.navbar-links li {
  list-style: none;
  display: inline-block;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  margin-left: 1rem;
  padding-bottom: 2rem;
}

.navbar-links a:hover {
  opacity: 1;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}

/* Cart and user images */

.cart-user {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 2rem;
}

.image-user img {
  width: 3rem;
}

.image-user img:hover {
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}

.cart img {
  height: 1.7rem;
}

.cart img:hover {
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-number {
  background-color: hsl(26, 100%, 55%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  position: absolute;
  top: -1.7rem;
  left: 1rem;
  display: none;
}

/* Hamburger menu */

.ham-menu img {
  display: flex;
  margin-right: 2rem;
  width: 1.2rem;
  cursor: pointer;
  align-items: center;
  display: none;
}

@media (max-width: 65.62em) {
  .navbar-links {
    display: none;
  }

  .ham-menu img {
    display: flex;
  }
}

/* navigation for phone menu */

.navigation-phone {
  width: 15rem;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 1.5rem;
  padding-top: 2rem;
  z-index: 2;
  display: none;
}

.active {
  display: block;
}

.navigation-phone img {
  margin-bottom: 2rem;
  cursor: pointer;
}

.navigation-phone ul {
  padding: 0;
}

.navigation-phone li {
  list-style: none;
  margin-bottom: 1rem;
}

.navigation-phone a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.699);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1;
}

/* images */

.images-choose,
.images-choose-pop-up {
  width: fit-content;
}

.main-image,
.main-image-pop-up {
  width: 30rem;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}

.main-image-pop-up {
  cursor: auto;
}

.show {
  display: block;
}

.secondary-images,
.secondary-images-pop-up {
  width: 30rem;
}

.secondary-images img,
.secondary-images-pop-up img {
  width: 7.2rem;
  border-radius: 15px;
  margin-top: 2rem;
  cursor: pointer;
}

.secondary-images img:hover,
.secondary-images-pop-up img:hover {
  opacity: 0.7;
}

.secondary-images-pop-up img:hover {
  opacity: 1;
  border: 3px solid hsl(26, 100%, 55%);
}

.change {
  opacity: 0.7;
  border: 3px solid hsl(26, 100%, 55%);
}

.change-pop-up {
  border: 3px solid hsl(26, 100%, 55%);
}

.toggle,
.toggle-pop-up {
  opacity: 0.7;
  border: 3px solid hsl(26, 100%, 55%);
}

.toggle-pop-up {
  opacity: 1;
}

/* .thumbnail:first-child {
  opacity: 0.7;
  border: 3px solid hsl(26, 100%, 55%);
} */

/* Image Pop Up */

.image-carousel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.close-image-pop-up {
  width: 1.5rem;
  margin-bottom: 1rem;
  float: right;
  cursor: pointer;
}

/* pop up nav image */

.navigation-images {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 50%;
}

.prev-btn,
.next-btn {
  cursor: pointer;
  margin-right: -1.3rem;
  margin-left: -1.3rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-visible {
  display: block;
}

/* Description and add to cart */

.images-cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.secondary-images {
  grid-row-start: 2;
  margin: 0 auto;
}

.images-choose {
  margin: 0 auto;
}

.buy-shoe {
  width: 25rem;
}

.sneaker-company {
  font-size: 0.9rem;
  color: hsl(26, 100%, 55%);
  font-weight: bold;
}

.sneaker-company h1 {
  font-weight: bold;
}

.description {
  opacity: 1;
  line-height: 1.6;
  color: rgb(173, 173, 173);
}

.price-sale {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: -1.2rem;
}

.price-sale .price {
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 1;
}

.sale {
  background-color: antiquewhite;
  padding: 3px;
  border-radius: 5px;
  color: hsl(26, 100%, 55%);
  font-weight: 450;
}

.cut-price-desktop {
  color: rgb(173, 173, 173);
  text-decoration: line-through;
  padding-top: 0;
  margin-top: 0;
}

.cut-price-mobile {
  display: none;
}

.add-remove {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: lightgray;
  padding: 1rem;
  height: 2.5rem;
  border-radius: 10px;
}

.quanity {
  font-weight: bold;
}

.add-remove img {
  cursor: pointer;
  padding: 0.5rem;
}

.add-remove-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  gap: 10px;
  cursor: pointer;
}

.add-cart img {
  width: 1rem;
  height: 1rem;
}

/* Checkout  */

.check-out {
  background-color: white;
  box-shadow: 1px 2px 2px lightgray;
  border: 1px solid lightgray;
  position: absolute;
  right: 3rem;
  top: 6rem;
  border-radius: 7px;
  display: none;
  width: 22.31rem;
  height: 13.75rem;
}

.title {
  font-size: 0.7rem;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  padding-left: 1rem;
}

/* a */

.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: rgb(114, 113, 113);
  height: 70%;
  /* display: none; */
}

.cart-items {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  display: none;
}

.button-checkout {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: none;
}

/* a */
.text-items {
  display: inline-block;
}

.total {
  display: inline-block;
  color: black !important;
  font-weight: bold;
  margin-left: 1rem !important;
}

.cart-items img {
  width: 3rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.title-item h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}

.title-item p {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  color: rgb(119, 119, 119);
}

span {
  font-weight: bold;
  color: black;
}

.delete-button {
  height: 1.5rem;
  object-fit: contain;
  cursor: pointer;
  margin-left: 1rem;
}

.button-checkout button {
  width: 15rem;
  height: 2.4rem;
  border-radius: 5px;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 65.62em) {
  .navigation {
    border-bottom: none;
  }

  .main-image {
    display: none;
  }
  .secondary-images {
    display: none;
  }

  .images-cart {
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .buy-shoe {
    margin: 0 auto;
    margin-top: 30rem;
  }

  /* .navigation-images {
    display: flex;
  } */
  .cut-price-desktop {
    display: none;
  }

  .cut-price-mobile {
    display: block;
    color: rgb(173, 173, 173);
    text-decoration: line-through;
    margin-left: 10rem;
  }

  .add-remove-cart {
    flex-direction: column;
    margin-top: 2rem;
  }

  .add-remove {
    width: 20rem;
    justify-content: space-between;
  }

  .add-cart {
    width: 20rem;
  }

  .check-out {
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
  }

  /* .navigation-images {
    display: flex;
  } */

  .image-carousel {
    display: block;
    position: absolute;
    top: 20rem;
  }

  .close-image-pop-up {
    display: none;
  }

  .navigation-images {
    position: absolute;
  }
}
