* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation container */

.navigation {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0.7rem;
  margin: 0 3rem;
}

/* Links to different pages */

.navbar-links li {
  list-style: none;
  display: inline-block;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  margin-left: 1rem;
  padding-bottom: 2rem;
}

.navbar-links a:hover {
  opacity: 1;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}

/* Cart and user images */

.cart-user {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 2rem;
}

.image-user img {
  width: 3rem;
}

.image-user img:hover {
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}

.cart img {
  height: 1.7rem;
}

.cart img:hover {
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-number {
  background-color: hsl(26, 100%, 55%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  position: absolute;
  top: -1.7rem;
  left: 1rem;
  display: none;
}

/* Hamburger menu */

.ham-menu img {
  display: flex;
  margin-right: 2rem;
  width: 1.2rem;
  cursor: pointer;
  align-items: center;
  display: none;
}

@media (max-width: 56.25em) {
  .navbar-links {
    display: none;
  }

  .ham-menu img {
    display: flex;
  }
}

/* navigation for phone menu */

.navigation-phone {
  width: 15rem;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 1.5rem;
  padding-top: 2rem;
  z-index: 1;
  display: none;
}

.active {
  display: block;
}

.navigation-phone img {
  margin-bottom: 2rem;
  cursor: pointer;
}

.navigation-phone ul {
  padding: 0;
}

.navigation-phone li {
  list-style: none;
  margin-bottom: 1rem;
}

.navigation-phone a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.699);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
